<footer class="fdb-block footer-small">
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col-12 col-lg-2 text-lg-left">
        <img src="{{ site.logo | prepend: site.baseurl }}" width="50" height="50" alt="image">
      </div>

      <div class="col mt-4 mt-lg-0 text-center">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollable" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ "/privacy" | prepend: site.baseurl }}">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ "/terms" | prepend: site.baseurl }}">Terms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollable" href="#about">About</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-lg-2 mt-4 mt-lg-0 text-lg-right">
        <a href="https://altcast.io"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a href="https://altcast.io"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a href="mailto:altcastio@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>&nbsp;&nbsp;
      </div>
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        &copy; 2017 Altcast. All Rights Reserved
      </div>
    </div>
  </div>
</footer>
