<header>
  <div class="container">
    <nav class="navbar navbar-expand-md no-gutters">
      <div class="col-3 text-left">
        <a href="https://altcast.io">
          <img src="{{ site.logo | prepend: site.baseurl }}" width="50" height="50" alt="image">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse-2" aria-controls="navbarNav7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-collapse-2 justify-content-center col-md-6" id="navbarNav7">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item active">
            <a class="nav-link" href="{{ site.baseurl }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollable" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollable" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollable" href="#about">About</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse navbar-collapse-2">
        <ul class="navbar-nav ml-auto justify-content-end">
          <li class="nav-item">
            <a class="btn btn-primary scrollable" href="#newsletter">Stay in Touch!</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
